@font-face {
  font-family: 'Benguiat';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(./assets/fonts/BenguiatBold.ttf);
}

body {
  background-color: black;
  text-align: center;
}

h1 {
  display: inline-block;
  padding-left: .5em;
  padding-right: .5em;
  font-family: 'Benguiat', sans-serif;
  font-size: 70px;
  text-transform: uppercase;
  color: black;
  text-shadow: -1px 1px 0 rgb(255, 0, 0),
                1px 1px 0 rgb(255, 0, 0),
              1px -1px 0 rgb(255, 0, 0),
              -1px -1px 0 rgb(255, 0, 0),
              0 0 15px rgb(255, 0, 0);
  border-top: .03em solid rgb(255, 0, 0);
  border-bottom: .03em solid rgb(255, 0, 0);
}

h1 span {
  display: block;
  background-color: black;
  font-size: .4em;
  margin-bottom: -0.3em;
  line-height: .4em;
}